body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 1.75rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  color: #40514E;
  line-height: 2;

}

hr {
  margin: 100px auto;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 6%;
}

th {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 1.17em;;
  font-weight: normal;
}

li {
  color: #40514E;
  line-height: 2;
  font-family: 'Montserrat', serif;
}

.topnav {
  background-color: #504e4e;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* Add a color to the active/current link */
.topnav .active {
  background-color: #3c5e6c;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  height: 100%;
}

.form {
  background-color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

.middle-container {

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro-text {
  margin: auto;
  width: 30%
}

.footer-link {
  text-decoration: none;
}

.contact-me {
  margin: 40px auto 60px;
  width: 40%;
}

.and-skills {
  margin: auto 0 0 auto;
  padding-bottom: 100px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.contact-h2 {
  padding: 50px;
}

.my-name {
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.top-container-cv-skills {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 200px;
  margin: 0 auto 0 auto
}

.middle-container-cv-skills {

}

#bottom-container-cv-skills {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-container-contact {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 200px;
  margin-bottom: 100px;
}

.middle-container-contact {

}

#bottom-container-contact {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-container-about-me {
background-color: #e0ebe8;
position: relative;
padding-top: 200px;
}

.middle-container-about-me {
  background-color: white;
  padding: 100px;
}

#bottom-container-about-me {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

#cvHeader {
  margin: 0 auto 0 auto;
  font-size: 5.625rem;
  color: #f9f6f7;
  font-weight: normal;
  font-family: monospace;
}

#skillsHeader {
  color: #f9f6f7;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}

#me {
  margin: 0 auto 0 auto;
  font-family: monospace;
  font-size: 5.625rem;
  color: #f9f6f7;
  font-weight: normal;
}

.thoughts-text {
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.name-txt {
  margin: 50px 0 50px 0;
  padding: 20px;
  position: relative;
  bottom: 50px;
  color: #f9f6f7;
}

.myButton {
  box-shadow: 0 1px 0 0 #f0f7fa;
  background: linear-gradient(to bottom, #66bfbf 5%, #11999e 100%);
  background-color: #66bfbf;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 8px 21px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #5b6178;
  margin: 30px auto 60px auto;
}

.myButton:hover {
  color: #11999e;
}

.work-in-progress {
  font-weight: normal;
}

.aboutText {
  margin: 0 auto 0 auto;
  font-family: monospace;
  font-size: 5.625rem;
  color: #f9f6f7;
  font-weight: normal;
}

.front-header {
  position: absolute;
  top: 400px;
  height: 100%;
  width: 100%;
  color: #f9f6f7;
}

.sammy-text {
  color: #f9f6f7;
}

.work-text {
  color: #f9f6f7;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.intro-row {
  width: 50%;
  margin: 10px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.cv-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.capita-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height: 2;
}

.SMKD-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.Marks-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height: 2;
}

.School-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.summary {
  width: 25%;
  margin: auto;
  padding-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  margin: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  width: 25%;
  margin: 50px auto 50px auto;
}

.people-img {
  width: 25%;
  position: relative;
}

.gameboy-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.career-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.van-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.office-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.school-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.thinking-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.desk-img {
  width: 25%;
  padding-bottom: 20px;
}

.shop-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bag-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.adventure-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.background-img {
  width: 100%;

}
